body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #FEDDFE;   
    padding: 20px 0; 
}
.caixa{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 10px 0 15px;
    padding-inline: 10px;

}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #811023;
    text-decoration: underline;
}




/* css da página inicial */

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}


.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 90%;
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em;
    line-height: 1.5em;
    
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.foto{
    width: 120px;
    float: left;
    margin: 0px 20px 20px 30px;
}


.sobre{
    padding: 3em 0;
    background: #FEFEFE;
    text-align: center;
}
.sobre a {
    text-decoration: none;
}

.conteudo-sobre{
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}
.lista-sobre{
    width: 95%;
    display: inline-block;
    vertical-align: top;
}
.itens {
    line-height: 1.5em;
    text-decoration: none;
    margin: 10px 0; 

}
.itens a:first-child{
    font-weight: bold;
}
.itens:before{
    content: "✨";
}
.contatos{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0px 0px;
}
.contatos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;   
    margin: 0 1.5% 1.5% 1.5%; 
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.contatos li h2 {
    font-size: 150%;
}
.contatos li:hover{
    border-color: #c41c70;
}
.contatos li:active{
    border-color:#088C19;
}
.contatos li a {
    text-decoration: none;
    color: #000000;
}
.contatos li:hover h2{
    font-size: 27px;
}
.contatos h2{
    padding: 0 10px 10px 10px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.contato-descricao{
    font-size: 1em;
    padding-top: 0.5em;

}


@media screen and (max-width:480px) {
    .caixa, .principal, .sobre, .contato {
        width: auto;

    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .lista-sobre {
        width: 100%;
    }
    .contatos li h2{
        font-size: 100%;
        padding: auto;
    }
}
